<div class='userInfo' data-error="{{error}}">
    <form action='/login' id='login-form' method='POST'>
        <label for='username'>Username:</label><br>
        <input id='username' name='username'><br><br>
        <label for='password'>Password:</label><br>
        <input id='password' name='password' type='text'><br><br>
        <button type='submit'>Submit</button>
    </form>
</div>
<div>
    <a class='idkuser' href='/signup'>Need to register? Click here to sign-up</a>
</div>
