<div class='userInfo' data-error="{{error}}">
    <form action='/signup' id='signup-form' method='POST'>
        <label for='fullname'> Full Name: </label><br>
        <input id='fullname' name='fullname'/><br><br>
        <label for='email'> Email Address: </label><br>
        <input id='email' name='email' type='email'/><br><br>
        <label for='username'>Username:</label><br>
        <input id='username' name='username'><br><br>
        <label for='password'>Password:</label><br>
        <input id='password' name='password' type='password'><br><br>
        <div>
            <h3> I want email updates...</h3>
            <label for='none'> None </label>
            <input type='checkbox' id='none' name='none' class='emailUpdates' value='none' onclick = 'checkboxClicked(this)' checked/>
            <label for='hourly'> Hourly </label>
            <input type='checkbox' id='hourly' name='hourly' class='emailUpdates' value='hourly' onclick = 'checkboxClicked(this)'/>
            <label for='daily'> Daily </label>
            <input type='checkbox' id='daily' name='daily' class='emailUpdates' value='daily' onclick = 'checkboxClicked(this)'/>
            <label for='weekly'> Monthly </label>
            <input type='checkbox' id='weekly' name='weekly' class='emailUpdates' value='weekly' onclick = 'checkboxClicked(this)'/>
            <label for='monthly'> Weekly </label>
            <input type='checkbox' id='monthly' name='monthly' class='emailUpdates' value='monthly' onclick = 'checkboxClicked(this)'/><br><br>
        </div>
        <button type='submit'>Submit</button>
    </form>
</div>
<div>
    <a class='idkuser' href='/login'>Already have an account? Click here to log-in</a>
</div>