<div class='userInfo' id="signup-div" data-error="{{error}}">
    <form action='/signup' id='signup-form' method='POST'>
        <label for='fullname'> Full Name: </label><br>
        <input id='fullname' name='fullname'/><br><br>
        <label for='email'> Email Address: </label><br>
        <input id='email' name='email' type='email'/><br><br>
        <label for='username'>Username:</label><br>
        <input id='username' name='username'><br><br>
        <label for='password'>Password:</label><br>
        <input id='password' name='password' type='password'><br><br>
        <div>
            <h2> I want portfolio updates...</h2>
            <label for='none'> Never </label>
            <input type='checkbox' id='none' name='portUpdates' class='portUpdates' value='none' onclick = "checkboxClicked(this, 'portUpdates')" checked/>
            <label for='daily'> Daily </label>
            <input type='checkbox' id='daily' name='portUpdates' class='portUpdates' value='daily' onclick = "checkboxClicked(this, 'portUpdates')"/>
            <label for='weekly'> Monthly </label>
            <input type='checkbox' id='weekly' name='portUpdates' class='portUpdates' value='weekly' onclick = "checkboxClicked(this, 'portUpdates')"/>
            <label for='monthly'> Weekly </label>
            <input type='checkbox' id='monthly' name='portUpdates' class='portUpdates' value='monthly' onclick = "checkboxClicked(this, 'portUpdates')"/><br><br>
        </div>
        <button type='submit'>Submit</button>
    </form>
</div>
<div>
    <a class='idkuser' href='/login'>Already have an account? Click here to log-in</a>
</div>
<div id='signup-error' hidden>

</div>