<div>
    <h1>{{title}}</h1>
    <form action='/signup' id='signup-form' method='POST'>
        <label for='username'>Username:</label><br>
        <input id='username' name='username'><br><br>
        <label for='password'>Password:</label><br>
        <input id='password' name='password'><br><br>
        <button type='submit'>Submit</button>
    </form>
    <p id='errorMessage'>{{error}}</p>
</div>
<div>
    <a href='/login'>Already have an account? Click here to log-in</a>
</div>