{{!-- <main>
    <nav>
        <a href='/'>Home</a>
        <a href='/positions'>Positions</a>
        <a href='/trade'>Trade</a>
        <a href='/activity'>Activity</a>
        <a href='/logout' id='logoutLink'>Logout</a>
    </nav>
    {{{body}}}

</main> --}}