<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title> {{title}} </title>
    <link rel='stylesheet' type='text/css' href='../../public/css/styles.css'>
    <script src="jquery-3.6.0.min.js"></script>

    {{!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous">
    </script> --}}
</head>
<body>
    <h1>{{title}}</h1>
    <div id="pageContainer">
        {{{body}}}
    </div>

    <footer>
        <p>MyMarketSim Inc.</p>
        {{!-- <p>By Aughdon Breslin, Ella Crabtree, Christian Bautista, Ankit Patel</p> --}}
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="public/js/form.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../../public/js/clientvalidation.js"></script>
<script src="../../public/js/index.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="../../public/js/trade_cs.js"></script>
</body>

</html>