<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title> {{title}} </title>
    <link rel='stylesheet' type='text/css' href='../../public/css/styles.css'>
</head>
<body>
    <h1>{{title}}</h1>
    {{#if loggedIn}}
    <nav>

        <a href='/'>Home</a>
        <a href='/positions'>Positions</a>
        <a href='/trade'>Trade</a>
        <a href='/activity'>Activity</a>
    </nav>
    {{/if}}
    <main>
        {{{body}}}
    </main>
    <footer>
        MyMarketSim Inc.
    </footer>
</body>
</html>