body {
  font-family: sans-serif;
  background-color: rgb(99, 99, 99);
  color: white;
}

nav {
  background-color: green;
  position: sticky;
  height: 40px;
  display: flex;
  align-items:center;
  box-shadow: 0 1px 1px 0 black;
}
nav a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}
nav a:hover {
  background-color:#009000;
}

a.idkuser {
  text-decoration: none;
  color: white;
}
a.idkuser:hover {
  font-size: 1.01rem;
  text-decoration: underline;
}

input, button {
  border-radius: 5px;
  background: #fffafa;
  border-color: rgb(75, 75, 75);
  border-style: outset;
  color: black;
}

.userInfo[data-error]::after {
  background-color: #fffafa;
  content: attr(data-error);

  display: inline-block;
  margin: 10px 0;

  border-color: #c92423;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  color: #c92423;
  padding: 2px;
}


footer {
	text-decoration: none;
  position: absolute;
  bottom: 0;
  width: 95%;
  padding: 4px 4px;
  border-top: 1px groove white;
}





























:root {
    --animation-time: 2s;
}

/* The annoying one */
/* * {
    position: relative;
    animation: colorRotate  var(--animation-time) linear 0s infinite;
} */

/* Dangerous addition */
@keyframes colorRotate {
    from {
      /* background-color: #FF0000; */
      color:#8B00FF;
      left:0px;
      top:0px;
      border-color: #8B00FF;
    }
    14% {
      /* background-color: #FF7F00; */
      color:#2E2B5F;
      left:1px;
      top:3px;
      border-color: #2E2B5F;
    }
    28% {
      /* background-color: #FFFF00; */
      color: #0000FF;
      left:3px;
      top:5px;
      border-color: #0000FF;
    }
    43% {
      /* background-color: #00FF00; */
      color: #00FF00;
      left:5px;
      top:7px;
      border-color: #00FF00;
    }
    57% {
      /* background-color: #0000FF; */
      color: #FFFF00;
      left:7px;
      top:5px;
      border-color: #FFFF00;
    }
    72% {
      /* background-color: #2E2B5F; */
      color: #FF7F00;
      left:5px;
      top:3px;
      border-color: #FF7F00;
    }
    86% {
      /* background-color: #8B00FF; */
      color: #FF0000;
      left:3px;
      top:1px;
      border-color: #FF0000;
    }
    100% {
      /* background-color: #FF0000; */
      color:#8B00FF;
      left:0px;
      top:0px;
      border-color: #8B00FF;
    }
}
