<main>
    <nav>
        <a href='/'>Home</a>
        <a href='/positions'>Positions</a>
        <a href='/trade'>Trade</a>
        <a href='/activity'>Activity</a>
    </nav>
  <p>Displaying your recent stock purchases/sells:</p>
  {{!-- List of transactions is displayed here --}}
  {{transactions}}
</main>