<button id='logoutButton'>Logout</button>
<div class='logoutPopup' id="logoutCheck">
    <h1>Are you sure?</h1>
    <a href='/logout' id="continueButton">Continue</a>
    <a href='/' id="cancelButton">Cancel</button>
</div>

<main>
    <nav>
        <a href='/'>Home</a>
        <a href='/positions'>Positions</a>
        <a href='/trade'>Trade</a>
        <a href='/activity'>Activity</a>
        <a href='/settings'>Portfolio Settings </a>
    </nav>
    <h2>Welcome {{username}}, your portfolio has changed by {{percentChange}} percent!</h2>
    <h3>Total Balance:</h3>
    <p id="balance">{{balance}}</p>
    <h3>Portfolio Value:</h3>
    <p id="value">{{value}}</p>
    <div class="formContainer">
        <form id="dwForm" >
            <label for="dw">Do you want to deposit or withdraw?</label>
            <select id="dw" name="dw">
                <option value="Deposit">Deposit</option>
                <option value="Withdraw">Withdraw</option>
            </select>
            <label for="quantity">Quantity:</label>
            <input id = "quantity" name="quantity" type="number"></input>
            <button id="confirmButton" type="submit">Submit</button>
        </form>
    </div>
    <h3></h3>
</main>
<script src="public/js/form.js"></script>

