<main>
    <nav>
        <a href='/'>Home</a>
        <a href='/positions'>Positions</a>
        <a href='/trade'>Trade</a>
        <a href='/activity'>Activity</a>
        <a href='/settings'> Change Portfolio Settings </a>
    </nav>
    <h2>Welcome {{username}}, your portfolio has changed by TODO percent!</h2>
</main>

