<button id='logoutButton'>Logout</button>
<div class='logoutPopup' id="logoutCheck">
    <h1>Are you sure?</h1>
    <a href='/logout' id="continueButton">Continue</a>
    <a href='/positions' id="cancelButton">Cancel</a>
</div>
<main>
    <nav>
        <a href='/'>Home</a>
        <a href='/positions'>Positions</a>
        <a href='/trade'>Trade</a>
        <a href='/activity'>Activity</a>
        <a href='/settings'>Portfolio Settings </a>
    </nav>
  <p> Here's whats in your Stock Portfolio! </p>
  <p> You own: </p>
  
  <div>
    {{#if stocks}}
        <section>
            <ul class="stocks_list">
            {{#each stocks}}
            {{!-- this.[0] is ticker --}}
            {{!-- this.[1] is quantity --}}
                <li> 
                  <a> {{this.[1]}} {{plural this.[1] "share" "shares"}} of {{this.[0]}}</a>
                </li>
            {{/each}}
            </ul>
        </section>
    {{else}}
        <p class="noStocksOwned">
            You currently don't own any stocks. Go to the 'Trade' tab to purchase stocks.
        </p>
    {{/if}}
</div>

{{!-- <div>
  <canvas id="myChart"></canvas>
</div> --}}

  
</main>