<main>
    <h1> ARE YOU SURE?!?!?!?!? </h1>
    <h2> Resetting your portfolio will delete all your progress, including your current stock holdings! </h2>
    <h3> If you still wish to proceed, hit the reset button below. </h3>
    <div>
        <form action='/settings/reset' id='reset-reset-portfolio-id' method='POST'>
            <button type='submit'> Reset </button>
        </form>
    </div>

    <a href='/'> Otherwise, click here to go back to the home page! </a>
</main>