<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="trade_cs.js"></script>
</head>
<body>

        <form id="tradeForm" action="">
            <label for="search_term"> Stock Symbol/Ticker: </label>
            <input id="ticker_input" type="text" required> 
            <!-- no space. capital letters. must be a valid ticker -->
            <br>

            <label for="quantity"> Quantity: </label>
            <input type="number" id="quantity" name="quantity" min="1" step="1" required>
            <!-- 
                if sell: quantity owned must be >= than quantity selected
                if buy: check if the user can afford to buy.
            -->
            <br>


            <label for="buy"> Buy </label>
            <input type="radio" id="buy" name="trans-option" value="buy" required>

            <label for="sell"> Sell </label>
            <input type="radio" id="sell" name="trans-option" value="sell">
            <!-- 
                if sell: quantity owned must be >= than quantity selected
                if buy: check if the user can afford to buy.
            -->
            <br>


            <label for="automated"> Automated </label>
            <input type="radio" id="automated" name="trans-mode" value="automated" required>

            <label for="manual"> Manual </label>
            <input type="radio" id="manual" name="trans-mode" value="manual" checked="checked">
            <!-- 
                if automated: ask for threshold. And if 'buying' ask for priority level
                if manual: User allow the user to submit the form
            -->
            <br>


            <label for="threshold" id="threshold_lbl" hidden> Share Price Threshold </label>
            <input type="number" id="threshold" name="threshold-name" step="0.01" hidden>
            <!-- disable AND Hide this is not automated.
                If automated (purchase or sell), then make this input required.
            -->
            <br>


            <label for="priority" id="priority_lbl" hidden> Priority Level </label>
            <input type="number" id="priority" name="priority-name" step="1" hidden>
            <!-- disable AND Hide this if not an automated purchase. 
                If automated purchase, make this input required.
            -->

            <br>
            <button id="submit_trade_btn" type="submit"> Submit Trade </button>
        </form>


</body>
</html>