<button id='logoutButton'>Logout</button>
<div class='logoutPopup' id="logoutCheck">
    <h1>Are you sure?</h1>
    <a href='/logout' id="continueButton">Continue</a>
    <a href='/trade' id="cancelButton">Cancel</a>
</div>
<main>
    <nav>
        <a href='/'>Home</a>
        <a href='/positions'>Positions</a>
        <a href='/trade'>Trade</a>
        <a href='/activity'>Activity</a>
        <a href='/settings'>Portfolio Settings </a>
    </nav>
    <p>Make a Trade:</p>


    
</main>